.fontgradient {
    font-size: 56px;
    font-weight: bold;
    background: -webkit-linear-gradient(45deg, rgba(70,79,81,1), rgba(250,250,250,1), rgba(70,79,81,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg {
    background-image: url('../images/elricbrothers.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh !important;
    background-size: cover;
}

.row {
    padding-top: 15%;
}

.jumbotron {
    background-color: black !important;
}

.btn {
    font-size: 30px !important;
    margin: 0 20px !important;
}

.btn-warning {
    color: white !important;
}